.form {
	max-width: 35rem;
	margin: 2rem auto;
}
.form label,
.form input,
.form textarea {
	display: block;
	width: 100%;
}

.form input,
.form textarea {
	font: inherit;
	padding: 0.25rem;
	border-radius: 10px;
}

.actions {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
	align-items: center;
}

.actions button {
	font: inherit;
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
	background-color: var(--color-gray-300);
	color: var(--color-gray-800);
	border: none;
}

.actions a {
	text-decoration: none;
	background-color: transparent;
	color: var(--color-gray-300);
}

.actions button:hover {
	background-color: var(--color-primary-300);
}
.actions button:disabled {
	background-color: var(--color-gray-500);
	cursor: not-allowed;
}
.alert {
	display: flex;
	justify-content: center;
	align-items: center;
}
.errormsg {
	max-width: 80%;
	padding: 1rem;
	word-wrap: break-word;
	background: rgb(255, 147, 147);
	border: 1px solid rgb(160, 0, 0);
	color: rgb(160, 0, 0);
	border-radius: 10px;
}
